<button (click)="picked.emit(null)" [class.is-selected]="selected() === null" class="rail-row rail-row-all" type="button">
    <span class="rail-name">{{ 'SCENE.ARCHIVE.ALL' | translate }}</span>
</button>

@for (node of tree(); track node.folder.id) {
    <ng-container *ngTemplateOutlet="row; context: {$implicit: node, child: false}"></ng-container>

    @for (child of node.children; track child.folder.id) {
        <ng-container *ngTemplateOutlet="row; context: {$implicit: child, child: true}"></ng-container>
    }
}

<button
    (click)="picked.emit(UNFILED)"
    (dragleave)="onDragLeave()"
    (dragover)="onDragOver($event, null)"
    (drop)="onDrop($event, null)"
    [class.is-drop-target]="dragOver() === UNFILED"
    [class.is-selected]="selected() === UNFILED"
    class="rail-row rail-row-unfiled"
    type="button"
>
    <span class="rail-name">{{ 'SCENE.ARCHIVE.UNFILED' | translate }}</span>
</button>

@if (canManage()) {
    <button (click)="createFolder.emit(null)" class="rail-add" type="button">
        <i class="pi pi-plus text-[0.5rem]"></i>
        {{ 'SCENE.ARCHIVE.NEW_FOLDER' | translate }}
    </button>
}

<p-context-menu #folderMenu [model]="menuItems()" appendTo="body" />

<ng-template #row let-node let-child="child">
    <div
        (contextmenu)="openMenu($event, node)"
        (dragend)="onDragEnd()"
        (dragleave)="onDragLeave()"
        (dragover)="onDragOver($event, node.folder.id)"
        (dragstart)="onFolderDragStart($event, node)"
        (drop)="onDrop($event, node.folder.id)"
        [attr.draggable]="canManage() ? true : null"
        [class.is-drop-target]="dragOver() === node.folder.id"
        [class.is-reorder-after]="reorderOver()?.id === node.folder.id && reorderOver()?.after"
        [class.is-reorder-before]="reorderOver()?.id === node.folder.id && !reorderOver()?.after"
        [class.is-selected]="selected() === node.folder.id"
        [class.rail-row-child]="child"
        [style.--rail-accent]="node.folder.color"
        class="rail-row"
    >
        <button (click)="picked.emit(node.folder.id)" (keydown)="onRowKeydown($event, node)" class="rail-pick" type="button">
            @if (node.folder.icon) {
                <span class="rail-icon">{{ node.folder.icon }}</span>
            }
            <span class="rail-name">{{ node.folder.name }}</span>
        </button>

        @if (canManage()) {
            <button
                (click)="openMenu($event, node)"
                [attr.aria-label]="'SCENE.ARCHIVE.FOLDER_ACTIONS' | translate"
                class="rail-menu"
                type="button"
            >
                <i class="pi pi-ellipsis-h text-[0.5625rem]"></i>
            </button>
        }
    </div>
</ng-template>
